
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color:white;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.bg-darkk{
	background: transparent;
}
.bg-darkk.scrolled{
		background: #262626;
}
.navbar .navbar-brand {
	font-size: 22px;
	font-weight: bolder;
	color: white;
	text-decoration: none;
}
.container .navbar .nav-item .nav-link{

	color:white;
	font-size: 20PX;
	font-weight: bold;
	margin: 5px 10px;
}
.carousel-caption{
	top:40%;
}
.container .navbar .nav-item .active{
	color: #F97115;
}
.container .navbar .nav-item .nav-link:hover{
	color: #F97115;
}
.container .navbar .nav-item .dropdown-menu{
	background: transparent;
	border: none;
	
	
}
.container .navbar .nav-item .dropdown-menu.scrolled{
	background: #262626;
	border: none;
	
	
}
.container .navbar .nav-item .dropdown-menu .dropdown-item{
	color: white;
	font-size: 20PX;
	font-weight: bold;
}
.container .navbar .nav-item .dropdown-menu .dropdown-item:hover{
	color: #F97115;
	background: transparent;


}
.carousel-inner .carousel-item img{
	height: 700px;
	object-fit: cover;
}
html{
	scroll-behavior: smooth;

}
body{
	
font-family: monospace;
}
.navbar button .navbar-toggler-icon{

	color: white;
}
#services{
	margin-top: 50px;

}
#services .far{
	height: 40px;
	width: 40px;
}
#services .col{
	display: flex;
	flex-direction: column;
	justify-content: center;
/* box-shadow: 1px 2px 3px solid black; */
	width: 23%;
	margin: 1%;
	flex-wrap: wrap;
}
@media only screen and (min-width: 600px) {

	#services .col{
		display: flex;
		flex-direction: column;
		justify-content: center;
	/* box-shadow: 1px 2px 3px solid black; */
		width: 98%;
		margin: 1%;
		flex-wrap: wrap;
	}
	h4{
		font-size: 10px;
	}
}
@media only screen and (max-width: 600px) {

	#services .col{
		display: flex;
		flex-direction: column;
		justify-content: center;
	/* box-shadow: 1px 2px 3px solid black; */
		width: 98%;
		margin: 1%;
		flex-wrap: wrap;
	}
	h4{
		font-size: 10px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#services .col{
		display: flex;
		flex-direction: column;
		justify-content: center;
	/* box-shadow: 1px 2px 3px solid black; */
		width: 46%;
		margin: 1%;
		flex-wrap: wrap;
		
	}
	h4{
		font-size: 10px;
	}
}
#services .col:hover{
	background-color:#F97115 ;
	color: white;
	cursor: pointer;
}
h1 {
	overflow: hidden;
	text-align: center;
	font-family: sans-serif;
	margin: 10px auto;
	text-align: center;
	color: #F97115;
	font-size: 40px;
	width: 400px;
	/* max-width: auto; */
	position: relative;
  }
  
  h1:before,
  h1:after {
	background-color:#F97115;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 30%;
  }
  
  h1:before {
	right: 0.5em;
	margin-left: -50%;
  }
  
  h1:after {
	left: 0.5em;
	margin-right: -50%;
  }

  #aboutus{

	margin-top: 20px;
  }
  #aboutus .col-md-6 img{
height: 300px;  
width: 90%;
}
  #aboutus .col-md-6{

	display: flex;
	flex-direction: column;
	justify-content: space-between;

  }
 button{
	background: #F97115 ;
	border:none;
	color: white;
  }

  #whychooseus .x .col-md-6:hover{
	background: #F97115 ;
	
	color: white;
  }
/* flip card */
#services{
	margin-top: 50px;
	margin-bottom: 50px;
}
.cont{

	display: flex;
	flex-direction:row;
	justify-content: space-between;
	}
	
	.flip-card {
	  background-color: transparent;
	  width: 30%;
	  height: 300px;
	  margin:1%;
	  perspective: 1000px;
	}
	
	.flip-card-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  transition: transform 0.6s;
	  transform-style: preserve-3d;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	
	.flip-card:hover .flip-card-inner {
	  transform: rotateY(180deg);
	}
	
	.flip-card-front, .flip-card-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
	
	.flip-card-front {
	  background-color:white;
	  color: black;
	}
	
	.flip-card-back {
	   /* The image used */
	  
	   background-image: url("images/ma.jpg");
		 /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	/* Add the blur effect */
	
	
	  color: white;
	  transform: rotateY(180deg);
	}
	@media only screen and (max-width: 600px) {
		.cont{
	
	display: flex;
	flex-direction:column;
	
	justify-content: space-around;
	}
		.flip-card {
	  background-color: white;
	  width: 80%;
	  height: 350px;
	  margin:10px 30px;
	  perspective: 1000px;
	
	}
	
	}
	#services h4{
		text-transform: capitalize;
	}
/* teams */
#teams{
	margin-top: 50px;
	margin-bottom: 50px;
}
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
  }
  
  .hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #F97115;
	border-top: 1px solid #F97115;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
  }
  
  .hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	width: 100%;
	height: 400px;
	object-fit: cover;
  }
  
  .hovereffect:hover img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
  }
  
  .hovereffect h2 {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
  }

  .hovereffect a, .hovereffect p {
	color: #FFF;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
  }
  .hovereffect:hover a{
	  color: #F97115;
  }
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	
  }
  /* casestudy */
  #casestudy {
	  margin-bottom: 50px;
  }
  #casestudy .row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  #casestudy .container-fluid .row .col-md-3{
	 
	 position: relative;
	 height: 300px;
	 width: 95%;


  }
  #casestudy .container-fluid .row .col-md-3 img{
	  width: 100%;
	  height: 300px;
	  object-fit: cover;
  }
  #casestudy .overlay {
	position: absolute; 
bottom: 0;

	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	
	width: 90%;
	
	transition: .5s ease;
	opacity:0;

	transition:  .8s;
	padding: 20px;
	text-align: center;
  }
  
  #casestudy .col-md-3:hover .overlay {
	opacity: 1;
  }
  #casestudy .overlay p{
	  color:#F97115;
	  font-size: medium;
  }
  #casestudy .overlay h4{
	
	color:#FFF;
}
#testinomial{
	margin-top: 50px;
	margin-bottom: 50px;
}
#promo
{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.7)),url(images/quote.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding:100px;
    font-family: sans-serif;
margin-top: 50px;


}
#promo p{
    font-size: 3.75vw;
}
footer{
 background-color: #0B0E10;
 padding:20px 0px;
}
footer ul li{
	list-style-type: none;
}
footer p,li{
color: #81837A;	

}
hr{
	background-color: #81837A;
	height: 2px;
	width: 100%;
}
footer a{
	margin:0px 10px;
	text-decoration: none;
	color: #81837A;
}	
footer a:hover{
	color:white;
	text-decoration: none;
	font-weight: bold;
}